body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://videos.pexels.com/video-files/2450251/2450251-hd_1280_720_30fps.mp4') no-repeat center center fixed;
    background-size: cover;
    color: #00796b;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
    transition: height 0.3s ease;
}

h1 {
    color: #00796b;
    font-size: 24px;
    margin: 10px 0;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    font-size: 14px;
}

input, select {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #b2dfdb;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.3s ease;
}

input:focus, select:focus {
    border-color: #004d40;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #00796b;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #004d40;
    transform: translateY(-2px);
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.result, .info {
    margin-top: 10px;
    font-size: 1em;
    color: #004d40;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

.motivation {
    margin-top: 10px;
    font-size: 0.9em;
    color: #00796b;
    font-style: italic;
}

.section-divider {
    border-top: 1px solid #b2dfdb;
    margin: 20px 0;
}

.error {
    color: red;
    font-weight: bold;
}

.highlight-green {
    color: green;
}

.highlight-red {
    color: red;
}

.hidden {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #b2dfdb;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #e0f2f1;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
        width: 100%;
    }

    h1 {
        font-size: 20px;
    }

    button {
        padding: 8px 16px;
        font-size: 12px;
    }

    .button-group {
        flex-direction: column;
        gap: 10px;
    }
}
