/* Grundläggande stilar */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f2f5;
    overflow: hidden;
}

.bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    filter: brightness(50%);
}

.user-profile {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.user-profile:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    border-radius: 8px;
    overflow: hidden;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 1200px; /* Ökar maxbredden för att göra containern bredare */
    width: 90%; /* För att behålla responsiviteten */
    text-align: center;
    margin: 20px auto; /* Centrerar containern horisontellt */
    animation: fadeIn 1s forwards;
    max-height: 70vh; /* Begränsar höjden så att den inte går för långt ner */
    overflow-y: auto; /* Lägg till scrollbar om innehållet överstiger maxhöjden */
}

h1 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}

h1 i {
    color: #4caf50;
    margin-right: 10px;
}

.input-container {
    margin-bottom: 30px;
}

.input-container label {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
    display: block;
}

.input-container input {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 10px;
    transition: border-color 0.3s;
}

.input-container input:focus {
    border-color: #4caf50;
}

.btn {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
    background-color: #43a047;
    transform: translateY(-2px);
}

.summary-container {
    margin-top: 30px;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.summary-container h2 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.summary-container p {
    font-size: 1.2rem;
    color: #666;
}

.chart-container {
    margin-top: 40px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

canvas {
    width: 100% !important;
    max-width: 1000px; /* Större bredd för graferna */
}

#loadingIndicator {
    display: none;
    margin-top: 20px;
    font-size: 1.2rem;
    color: #4caf50;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Responsiva stilar för mobila enheter */
@media (max-width: 768px) {
    .container {
        padding: 20px;
        width: 100%; /* Se till att containern fyller hela bredden */
        max-width: 100%; /* Se till att containern är full bredd på mindre skärmar */
    }
    h1 {
        font-size: 1.5rem;
    }
    .btn {
        padding: 10px;
        font-size: 0.9rem;
    }
    .summary-container h2 {
        font-size: 1.3rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.2rem;
    }
    .btn {
        padding: 8px;
        font-size: 0.8rem;
    }
    .summary-container h2 {
        font-size: 1.1rem;
    }
}

/* Styling för navbaren */
.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #00796b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar .nav-item {
    color: white;
    text-align: center;
    text-decoration: none;
    flex-grow: 1;
}

.navbar .nav-item i {
    font-size: 20px;
    display: block;
}

.navbar .nav-item span {
    font-size: 12px;
    display: block;
    margin-top: 2px;
}

.navbar .nav-item:hover {
    background-color: #004d40;
    color: #ffffff;
    transition: background-color 0.3s ease;
}
