/* Befintliga stilar */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: none;
}

.bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 90%;
    text-align: center;
    margin: 20px;
    animation: fadeIn 1s forwards;
}

h1 {
    color: #00796b;
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
    font-size: 16px;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #b2dfdb;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.3s ease;
}

input:focus {
    border-color: #004d40;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.btn {
    background-color: #00796b;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.btn:hover {
    background-color: #004d40;
    transform: translateY(-2px);
}

.auth-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Nya stilar för kalkylformuläret */
#message {
    margin-top: 20px;
    color: #00796b;
    font-size: 18px;
}
.form-and-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

form {
    flex: 1;
    margin-right: 20px;
}

.list-container {
    flex: 1;
    max-width: 400px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #e0f2f1;
    border: 1px solid #b2dfdb;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
}

.list-container h2 {
    color: #00796b;
    font-size: 20px;
    margin-bottom: 10px;
}

.user-profile {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #00796b;
    cursor: pointer;
    font-size: 16px;
}

.user-profile:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}
